:root {
  --blurple: hsl(227, 58%, 65%);
  --blurple-translucent: rgba(114, 137, 218, 0.6);
  --blurple-dark: hsl(227, 44%, 59%);
}

html {
  height: 100%;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", sans-serif;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 0;
}

button {
  display: inline-block;
  transition: box-shadow 300ms ease, background 300ms ease, border 300ms ease;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 4px;
  outline: none;
  font: 600 1rem "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article {
  max-width: 48rem;
  margin: min(calc(max(100vw - 50rem, 0px) / 8 + 2rem), 12rem) 2rem;
}

h1, h2 {
  font: 600 1rem "Zilla Slab", serif;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.75rem;
}

p {
  margin: 0.5rem 0;
}

code {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

ol ul {
  padding: 0 0 0 2rem;
}

a {
  color: var(--blurple);
}

.logo {
  font-size: 6.2rem;
}

.logo__logotype {
  text-align: center;
  line-height: 0.8;
}

.logo__name {
  font: 600 1em "Zilla Slab", serif;
  line-height: inherit;
  vertical-align: middle;
}

.logo__bot-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 0.4em;
  padding-right: 0.3em;
  border-radius: 8px;
  background: var(--blurple);
  color: #fff;
  font: 600 0.5em "Open Sans", sans-serif;
  line-height: 1.3;
  vertical-align: middle;
}

.logo__bot-tag img {
  height: 1.4em;
}

.logo__slogan {
  font: 300 0.785em "Zilla Slab", serif;
  text-align: center;
  line-height: 1;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  font-weight: 600;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 17.5em);
  grid-gap: 1rem;
  grid-auto-rows: 3em;
  margin-top: 2rem;
}

.actions__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.actions__link--full-width {
  grid-column: 1 / -1;
}

.actions__button {
  border: solid 1px #ddd;
  background: #fff;
  color: #000;
}

.actions__button:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.actions__button:active {
  border-color: #eee;
  background: #eee;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.actions__button--highlight {
  border: none;
  background: var(--blurple);
  color: #fff;
}

.actions__button--highlight:hover {
  box-shadow: 0 8px 24px var(--blurple-translucent);
}

.actions__button--highlight:active {
  box-shadow: 0 8px 24px var(--blurple-translucent);
  background: var(--blurple-dark);
}

.legal {
  position: absolute;
  bottom: 1.5rem;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 600;
}

@media screen and (max-width: 38rem) {
  .logo {
    font-size: 16vw;
  }

  .logo .bot-tag {
    border-radius: 4px;
  }

  .status {
    flex-direction: column;
    margin: 1rem 0;
  }

  .actions {
    grid-template-columns: 17.5em;
  }
}

@media screen and (max-height: 38rem) and (orientation: landscape) {
  .logo {
    font-size: 22vh;
  }
}
