html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  font: 600 1rem "Open Sans", sans-serif;
}

body, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  transition: box-shadow 300ms ease, background 300ms ease, border 300ms ease;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 4px;
  outline: none;
  font: 600 1rem "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-size: 6.2rem;
}

.logo__logotype {
  text-align: center;
  line-height: 0.8;
}

.logo__name {
  font: 600 1em "Zilla Slab", serif;
  line-height: inherit;
  vertical-align: middle;
}

.logo__bot-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 0.4em;
  padding-right: 0.3em;
  border-radius: 8px;
  background: #7289da;
  color: #fff;
  font: 600 0.5em "Open Sans", sans-serif;
  line-height: 1.3;
  vertical-align: middle;
}

.logo__bot-tag img {
  height: 1.4em;
}

.logo__slogan {
  font: 300 0.785em "Zilla Slab", serif;
  text-align: center;
  line-height: 1;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 17.5em);
  grid-gap: 1rem;
  grid-auto-rows: 3em;
}

.actions__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.actions__link--full-width {
  grid-column: 1 / -1;
}

.actions__button {
  border: solid 1px #ddd;
  background: #fff;
  color: #000;
}

.actions__button:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.actions__button:active {
  border-color: #eee;
  background: #eee;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.actions__button--highlight {
  border: none;
  background: #7289da;
  color: #fff;
}

.actions__button--highlight:hover {
  box-shadow: 0 8px 24px rgba(114, 137, 218, 0.6);
}

.actions__button--highlight:active {
  box-shadow: 0 8px 24px rgba(114, 137, 218, 0.6);
  background: #677bc4;
}

@media screen and (max-width: 38rem) {
  .logo {
    font-size: 16vw;
  }

  .logo .bot-tag {
    border-radius: 4px;
  }

  .status {
    flex-direction: column;
    margin: 1rem 0;
  }

  .actions {
    grid-template-columns: 17.5em;
  }
}

@media screen and (max-height: 38rem) and (orientation: landscape) {
  .logo {
    font-size: 22vh;
  }
}
