version: "3.8"
volumes:
  clickhouse-persistence:
services:
  redis:
      image: redis:alpine
  bot:
    build: .
    restart: on-failure
    depends_on:
      - redis
    stop_grace_period: 20s
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      - DISCORD_TOKEN
      - COMMAND_PREFIX
      - COMMAND_COOLDOWN_PER_USER_IN_SECONDS
      - GOOGLE_KEY
      - GOOGLE_CUSTOM_SEARCH_ENGINE_ID
      - GOODREADS_KEY
      - TMDB_KEY
      - LAST_FM_KEY
      - WOLFRAM_ALPHA_APP_ID
      - OPENAI_API_KEY
      - DISCO_MAX_FILE_SIZE_IN_MIB
      - SENTRY_DSN
      - SENTRY_AUTH_TOKEN
      - SENTRY_ORG
      - DATABASE_URL
      - CLICKHOUSE_URL
      - CLICKHOUSE_USER
      - CLICKHOUSE_PASSWORD
      - CLICKHOUSE_DATABASE
      - REDIS_URL=redis://redis:6379/
  web:
    build: web
    depends_on:
      - redis
    links:
      - redis:redis
    environment:
      - REDIS_URL=redis://redis:6379/
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=Host(`somsiad.net`)
      - traefik.http.routers.web.entrypoints=websecure
      - traefik.http.routers.web.tls=true
      - traefik.http.routers.web.tls.certresolver=le
  router:
    image: "traefik:v2.4"
    depends_on:
      - web
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.le.acme.email=dev@twixes.com
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"
