version: "3.8"
services:
  postgres:
    environment:
      POSTGRES_DB: somsiad
      POSTGRES_PASSWORD: somsiad
      POSTGRES_USER: somsiad
      POSTGRES_EXTENSIONS: pg_trgm
    build:
      context: .
      dockerfile: postgres.Dockerfile
    ports:
      - "5432:5432"
  clickhouse:
    build:
      context: .
      dockerfile: clickhouse/Dockerfile
    environment:
      CLICKHOUSE_DB: somsiad
      CLICKHOUSE_USER: somsiad
      CLICKHOUSE_PASSWORD: somsiad
  redis:
    image: redis:alpine
  bot:
    build: .
    command: ["python", "-m", "jurigged", "run.py"]
    volumes:
      - ./:/code/
    restart: on-failure
    stop_grace_period: 20s
    depends_on:
      - postgres
      - clickhouse
      - redis
    links:
      - postgres:postgres
      - clickhouse:clickhouse
      - redis:redis
    environment:
      - DISCORD_TOKEN
      - COMMAND_PREFIX
      - COMMAND_COOLDOWN_PER_USER_IN_SECONDS
      - GOOGLE_KEY
      - GOOGLE_CUSTOM_SEARCH_ENGINE_ID
      - GOODREADS_KEY
      - TMDB_KEY
      - LAST_FM_KEY
      - WOLFRAM_ALPHA_APP_ID
      - DISCO_MAX_FILE_SIZE_IN_MIB
      - SENTRY_DSN
      - SENTRY_AUTH_TOKEN
      - SENTRY_ORG
      - OPENAI_API_KEY
      - PTVSD
      - DATABASE_URL=postgresql://somsiad:somsiad@postgres/somsiad
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_USER=somsiad
      - CLICKHOUSE_PASSWORD=somsiad
      - REDIS_URL=redis://redis:6379/
  web:
    build: web
    depends_on:
      - redis
    links:
      - redis:redis
    environment:
      - REDIS_URL=redis://redis:6379/
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=Host(`localhost`)
    volumes:
      - ./web/:/code/
  router:
    image: "traefik:v2.4"
    depends_on:
      - web
    command:
      - --entrypoints.web.address=:80
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --api.insecure
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
