Pillow==7.0.0
discord.py[voice]==1.3.2
SQLAlchemy==1.3.13
psycopg2==2.8.4
python-dotenv==0.12.0
psutil==5.7.0
defusedxml==0.6.0
google-api-python-client==1.7.11
pytube3==9.6.4
praw==6.5.1
matplotlib==3.2.0
sentry-sdk==0.14.2
aiocontextvars==0.2.2
ImageHash==4.0
numpy==1.18.2
