<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Somsiad{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#7289da">
    {% block meta %}
    <meta name="description" content="Polski bot discordowy. Zawsze pomocny. Zawsze open source.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Somsiad">
    <meta property="og:url" content="https://somsiad.net">
    <meta property="og:description" content="Polski bot discordowy. Zawsze pomocny. Zawsze open source.">
    <meta property="og:image" content="https://repository-images.githubusercontent.com/143029390/c2561500-925c-11eb-9c8b-ce0723eb598f">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MatlokaM">
    <link rel="canonical" href="https://somsiad.net/">
    {% endblock %}
    <link rel="stylesheet" href={{ url_for('static', filename='main.css') }}>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Zilla+Slab:300,400,600&amp;subset=latin-ext">
  </head>
  <body>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
