{% extends "_base.html" %}

{% block main %}
<div class="logo">
  <div class="logo__logotype">
    <span class="logo__name">Somsiad</span><div class="logo__bot-tag">
      <img src="{{ url_for('static', filename='check.svg') }}">
      <div>BOT</div>
    </div>
  </div>
  <div class="logo__slogan">Zawsze pomocny</div>
</div>
<div class="status">
  <div>
    {{ '🟢 Online' if heartbeat else '🔴 Offline' }}
  </div>
  <div>
    🌍 {{ server_count_display }} serwerów
  </div>
  <div>
    👤 {{ user_count_display }} użytkowników
  </div>
  <div>
    {{ emoji }} {{ version }}
  </div>
</div>
<div class="actions">
  <a href="https://github.com/Twixes/somsiad" class="actions__link">
    <button class="actions__button">Dowiedz się więcej na GitHubie</button>
  </a>
  <a href="http://discord.gg/xRCpDs7" class="actions__link">
    <button class="actions__button">Dołącz do serwera na Discordzie</button>
  </a>
  <a
    href="https://discordapp.com/oauth2/authorize?client_id=473816281028493314&scope=bot&permissions=305392727"
    class="actions__link actions__link--full-width"
  >
    <button class="actions__button actions__button--highlight">Zaproś Somsiada do siebie</button>
  </a>
</div>
{% endblock %}
